<% action_url = sub.persisted? ? sub_url(sub) : subs_url  %>
<% call_method = sub.persisted? ? "PATCH" : "POST" %>

<form class="" action=" <%= action_url %> " method="POST">
  <input
  type="hidden"
  name="authenticity_token"
  value=" <%= form_authenticity_token %> ">


  <input 
  type="hidden"
  name="_method"
  value=" <%= call_method %> ">

  <label for="sub-title">Title</label>
  <input id="sub-title" type="text" name="sub[title]" value=" <%= sub.title %> ">

  <label for="sub-description">Description</label>

  <textarea name="sub[description]" id="sub-description"><%=sub.description%> </textarea>

  <input type="submit" value="Submit">

</form>
